.slider {
  position: relative;
  /*height: 200px;
  width: 300px;*/
  /*Tamaños originales*/
  height: 500px;
  width: 750px;
  margin: auto;
  /*margin-left: 15%;
  margin-right: 15%;
  width:69%;*/
  /*Centrado no sirve*/
  background: gray;
  overflow: hidden;
  text-align: center;
}
.slide,
.slide img {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
}
.slide h1 {
  position: absolute;
  top: 20%;
  right: 0;
  height: 10%;
  color: white;
}
.slide p {
  position: absolute;
  top: 40%;
  left: 0;
  height: 60%;
  color: white;
}
.slide {
  transform: translateX(100%);
  -webkit-animation: slide 20s infinite linear;
  animation: slide 20s infinite linear;
}
.slide:nth-child(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.slide:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.slide:nth-child(4) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}
@-webkit-keyframes slide {
  5% {
    transform: translateX(0);
    /* 1s 6s 11s 16s */
  }
  25% {
    transform: translateX(0);
    /* 5s 10s 14s 19s */
  }
  30% {
    transform: translateX(-100%);
    /* 6s 11s 16s 20s */
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide {
  5% {
    transform: translateX(0);
    /* 1s 6s 11s 16s */
  }
  25% {
    transform: translateX(0);
    /* 5s 10s 14s 19s */
  }
  30% {
    transform: translateX(-100%);
    /* 6s 11s 16s 20s */
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide h1 {
  font-size: 55px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-right: 10px;
}

.slide p {
  font-size: 35px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-left: 10px;
}