* {
	margin: 0;
	padding:0;
	border:0;
}

/*Color de header Principal*/
header {
	background-color: #C82828;
	box-shadow: 0px 1px 10px #000000;
	z-index: 5;
	/*align-content: center;*/
	overflow: hidden;
	text-align: center;
	margin: auto;
	z-index: 3;
	width: 100%;
}

/*body.sticky-header{
	padding-top: 100px;
}

body.sticky-header header{
	height: 60px;
	background: #882222;
}*/

.mediano {
	height: 100px;
	padding-top: 20px;
}

#logo{
	line-height: 100px;
	transition: all 0.3s ease;
	justify-content: center;
}

#main {
	background-image: url("pastel5.jpg");
	width: 100%;
	height: 100%;
}

#login {
	/*margin: 10px;*/
	margin: auto;
	position: relative;
	top: 10px;
	padding-top: 15px; /*margin a padding*/
	margin-bottom: 10px;
	padding: 20px;
	/*background: #77D8D9;*/
	/*background-color: #F5E608;*/
	background-color: #F6E820;
	border: 1px black solid;
	border-radius: 24px;
	width: 20%;
	text-align: center;
	min-height: 400px;
	/*box-shadow: 2px 1px 1px #ED2525;*/
}

/*Formulario*/
form {
	font-size: 16px;
	line-height: 62px;
	font-family: sans-serif;
}

/*Elementos de formulario*/
.form_elemento {

}

legend {
	font-weight: bold;
	font-size: 20px;
}

input[type=text] {
	height: 40px;
	font-size: 16px;
	padding-left: 10px;
	font-family: sans-serif;
	background-color: #DCECD2;
	width: inherit;
}

input[type=text]:focus {
	border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 25px;
}
/* Tip: use width: 100% for full-width buttons */

/*Elementos circulares de redes sociales*/
.redesSociales {
	font-size: 15px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 70%;
}

.fa:hover {
    opacity: 0.85;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.texto {
	font-size: 16px;
	font-family: sans-serif;
	padding-bottom: 10px; 
}

#registrar {
	padding: 10px 0px 0px 10px;
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;
	line-height: 32px;
}

@media only screen and (max-width:800px) {
  /* Para tablets: */
  .mediano {
  	width: 100%;
  }

  #login {
  	width: 70%;
  }
}
@media only screen and (max-width:500px) {
  /* Para celulares: */
  .mediano {
  	width: 100%;
  }

  #login {
  	width: 70%;
  }
}