body{
	background: #ffffff;
}
.submenu{
	z-index: -1;
	transform: scale(0.95);
}
.prueba,.submenu{
	height:70px;
	width: 80px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
}

.mitad_arriba{
	height: 0; 
	width: 40px; 	/*ancho*/
	border-bottom: 35px solid #f9d230; /*alto*/
	border-left: 20px solid transparent; /*equina sup_izquierda*/
	border-right: 20px solid transparent;/*equina sup_derecha*/
	position: absolute;
	top: 0;
}
.mitad_arriba:before{
	content: '';
	height: 0;
	width: 40px;
	border-top: 35px solid #f9d230;
	border-left: 20px solid transparent;	 
	border-right: 20px solid transparent;
	position: absolute;
	top: 35px;
	left: -20px 
}
/********************************/
.mitad_arriba_item{
	height: 0; 
	width: 40px; 	/*ancho*/
	border-left: 20px solid transparent; /*equina sup_izquierda*/
	border-right: 20px solid transparent;/*equina sup_derecha*/
	position: absolute;
	transition: 1s;
	top: 0;
}
.mitad_arriba_item:before{
	content: '';
	height: 0;
	width: 40px;
	border-left: 20px solid transparent;	 
	border-right: 20px solid transparent;
	position: absolute;
	top: 35px;
	left: -20px 
}

#facebook{
	border-bottom: 35px solid #3f68c0;/*altura*/
}
#facebook:before{
	border-top: 35px solid #3f68c0;/*altura*/
}
#twitter{
	border-bottom: 35px solid #22acfe;/*altura*/
}
#twitter:before{
	border-top: 35px solid #22acfe;/*altura*/
}
#youtube{
	border-bottom: 35px solid #ff0000;/*altura*/
}
#youtube:before{
	border-top: 35px solid #ff0000;/*altura*/
}
#instagram{
	border-bottom: 35px solid #CC6681;/*altura*/
}
#instagram:before{
	border-top: 35px solid #CC6681;/*altura*/
}
/********************************/

#share{
	font-size: 40px;
	color: white;
	position: relative;
	left: 1px;
	top: 15px;
	transition: 1s;
}
/**************************/
#fb{
	position: relative;
	left: 7px;
}
#tw{
	position: relative;
	left: 3px;
}
#ins{
	position: relative;
	left: 3px;
}
#yt{
	position: relative;
}

a{
	justify-content: center;
	position: relative;
	top: 15px;
}

/**************************/
a .fa{
	color: white;
	font-size: 40px;
}

a .fa:hover{
	transform: scale(1.2);
	transition: .3s;
}

