/*Fichero de estilos para pantallas de ordenador*/
/*	body {background: #000;color:white;font-size:14px;font-family:comic sans ms;}*/

* {
	margin: 0px;
	padding: 0px;
}

/*CSS DE LOS PRODUCTOS*/
	img.imagen {
		margin-left:auto;
		margin-right:auto;
		display:block;
		padding-top:5px;
	}

	div.etiquetas {
		color:black;
		text-align:center;
		width:222px;
		height:22px;
	}

	div.stock {padding-left:0px;}

	input.uniBien {
		position:relative;
		margin-left:45px;


		background:white;
	}
	input.uniMal {
		margin-left:52px;
		background:red;
	}

	div.divsNo {display:none;}
	div.divsSi {display:yes;}

	#todo{
		position:relative;
		top:0px;
		margin-left:auto;
		margin-right:auto;
		display:block;
		width:inherit;
		z-index: 0;
		background-color: inherit;
		margin: auto;
		align-items: center;
}
	div.todoNo{}
	div.todoSi{}


	#menu{
		position:relative;
		width: inherit;
		z-index: 0;
	}

	div.menuNo{}
	div.menuSi{}

/*Divs para colocar cada producto en su sitio*/
	#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9 {
		display: inline-block;
		position: relative;
	}

/*CSS DEL CARRITO DE LA COMPRA*/
	/*Div para los botones*/
	#divbotones{
		position:relative;
	}

	#tablaTotal {
		margin: 0px 0px 0px 0px;
	}
	td.pro {
		width:300px;
		text-align:center;
		background:#1a6c68;
	}
	td.uni {
		width:150px;
		text-align:center;
		background:#1a6c68;
	}
	td.preUni {
		width:150px;
		text-align:center;
		background:#1a6c68;
	}
	td.preTotal {
		width:150px;
		text-align:center;
		background:#1a6c68;
	}
	tr.proCarrito {
		text-align:center;
	}

	/*Divs para la zona de compras*/
	div.divZonaCompraSi{
		position:relative;
		padding:0px 11px 20px 11px;
		display:yes;
		width:693px;
		height:auto;

		background:#3c8c89;
	}
	div.divZonaCompraNo{
		position:relative;
		padding:0px 11px 20px 11px;
		display:none;
		width:693px;
		height:385px;

		background:#3c8c89;
	}

	/*Divs del carrito y formularios*/
	#divTotal{
		background:#378582;
	}
	#divDatos{
		background:#378582;
		z-index: 2;
	}

	#divPago{
		height: 150px;
		padding-left:10px;
		background:#378582;
		z-index: 2;
	}
	
	#divDatosPersonales0 {
		position:relative;
		padding:0px 0px 0px 10px;
		width:440px;
		height:140px;
		z-index: 2;
	}

	#divDatosPersonales1 {
		position:relative;
		width:230px;
		height:130px;
		z-index: 2;
	}

	#divDatosPersonales2 {
		position:relative;
		top:-130px;
		left:260px;
		width:200px;
		height:130px;
		z-index: 2;
	}

	#divDomicilio{
		padding:0px 0px 0px 10px;
		z-index: 2;
	}


	
	
	
/*CSS VALIDACION*/	
	input.textBien {background:#d1fbe1;}
	input.textMal {background:pink;}
	select.textBien {background:#d1fbe1;}
	select.textMal {background:pink;}	
	span.alertTipoDeTarjeta {color:red;}

	
	
/*Metodos de pago*/	
#metodosDePago{
	position:relative;
	top:8px;
	width:128px;
	height:60px;
}

#divNumeroTarjeta{
	position:relative;
	top:-52px;
	left:140px;
	width:180px;
	height:70px;
}

input.logoTarjetas { 
	bottom:6px;
	position: relative;
}	

	
	
/*Pie de pagina	*/
p.pie {
	text-align:center;
}
a:link {
	color:white;
}	